@model ConfDomain.Model.Ticket
@{
    ViewData["Title"] = "Edit Ticket";
}

<section class="user-list-section">
    <div class="mb-4">
        <h1 class="mb-1">@ViewData["Title"]</h1>
        <h4 class="text-secondary">Ticket</h4>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="mb-3">
                    <label asp-for="ConferenceId" class="form-label"></label>
                    <select asp-for="ConferenceId"
                            class="form-control"
                            asp-items="ViewBag.ConferenceId">
                    </select>
                    <span asp-validation-for="ConferenceId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="UserId" class="form-label"></label>
                    <select asp-for="UserId"
                            class="form-control"
                            asp-items="ViewBag.UserId">
                    </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Id" />

                <div class="d-flex">
                    <button type="submit" class="btn btn-primary me-2">Save</button>
                    <a asp-action="Index" class="btn btn-outline-user">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</section>
