@using ConfInfrastructure.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Conference application</h1>
</div>

@model List<UpcomingConferenceViewModel>

<h2>Upcoming conferences</h2>

@foreach (var conf in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h4>@conf.Title</h4>
            <p>@conf.Description</p>
            <p><strong>Date:</strong> @conf.Date.ToShortDateString()</p>
            <p><strong>Place:</strong> @conf.Place</p>

        </div>
    </div>
}




